<div class="title">
      <h2>Previous Comments</h2>
  </div >

  {{#each this}}
  <section class="comment">
    <div>
      <p id="post-label"> {{comment_text}}</p>
    </div>
     <br>
     <div>
      <p id="post-label"> _____ {{user.username}} , 
        {{format_date created_at}} </p>
    </div>
  </section>
  {{/each}}
