<article class="post">
  <div class="title">
    <h2>{{post_title}}</h2>
    <span>by {{user.username}} on
    {{format_date created_at}}
   
  </div>
  <div class="content">
    <p>{{post_content}}</p>
  </div>
</article>