<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">DashBoard</a></li>
          
            {{#if loggedIn}}

            <button id="logout" class="btn-no-style">logout</button>
            
            {{else}}
            <li><a href="/login">login</a></li>
            <li><a href="/">Logout</a></li>
            {{!-- <button id="logout" class="btn-no-style">logout</button> --}}
            {{/if}}
          
        </ul>
      </nav>
      <h1>
        The Tech Blog
      </h1>
    </header>

    
    <main>
      {{{ body }}}
    </main>
    
  </div>
  {{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>