<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title >The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
           <button id="dashboard" class="dashboard-btn"><a href="/dashboard/"> Dashboard</a></button>
            {{#if loggedIn}}
            <button id="logout" class="logout-btn">logout</button>
            {{else}}
          <button id="login" class="login-btn"> <a href="/login" >Login</a></button>
            {{/if}}
          
        </ul>
      </nav>
      {{#if loggedIn}}
      <h1 >
        Your Dashboard
      </h1>
      {{else}}
      <h1 id="main-title">
        The Tech Blog
      </h1>
      {{/if}}
    </header>
    <main>
      {{{ body }}}
    </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/login.js"></script>
  {{/if}}
</body>
</html>