
<form class="new-post-form">
    <div class="title">
      <h2>Create New Post</h2>
  </div >
  <div class="post-input-field-section">
     <label for="post-title" id="post-label">Title</label><br>
      <input type="text" id="post-title-input-label" name="post-title" />
  </div>
  <div class="post-input-field-section">
    <label for="content-area" id="post-label">Content</label><br>
      <textarea class="content-body" id="post-content-input-label" name="content-area"></textarea>
  </div>
  <div class="login-btn">
    <button id="create-btn">Create!</button>
  </div>
</form>

<script src="/js/create.js"></script>