

<article>
  <form class="edit-form">
    <div>
    <h2 class="title">Edit Post</h2>
    </div>
    <div class="form-content">
      <label for="post-title">Title</label><br>
      <input name="post-title" type="text" value="{{post.post_title}}" />  
    </div>
    <div class="form-content">
      <label for="content-area">Content</label><br>
      <textarea class="content-body" name="content-area" id="content-area">{{post.post_content}}</textarea>
    </div>
    <button class="update-post-btn" type="submit">Update Post</button>
    <button class="delete-post-btn "type="button" >Delete Post</button>
  </form>
</article>


<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>


please load me