<form class="login-form">
    <div class="title">
      <h2>Login</h2>
  </div >
  <div class="user-input-field-section">
    <label for="username-login" id="login-label">Username:</label>
    <input type="text" id="username-login-input" />
  </div>
  <div class="user-input-field-section">
    <label for="password-login" id="login-label">Password:</label>
    <input type="password" id="password-login-input" />
  </div>
  <div class="login-btn">
    <button id="login-btn">Login!</button>
  </div>
  <div class="user-input-field-section">
    <a class="signup-choice" href="/signup">Sign up instead</a>
  </div>
</form>


<script src="/js/login.js"></script>
