
<form class="signup-form">
    <h1>Signup</h1>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<a href="/login">sign in instead</a>

<script src="/js/signup.js"></script>