{{!-- {{> post-top-section post}} --}}

<article class="post">
  <div class="title">
    <h2>{{post.post_title}}</h2>
    <span>by {{post.user.username}} on
    {{format_date post.created_at}}
   
  </div>
  <div class="content">
    <p>{{post.post_content}}</p>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <h3 class="comment-title"></h3>
    <label for="password-login" id="login-label">Comment</label>
    <textarea class="comment-input" name="comment-input"></textarea>
  </div>
  <div>
    <button id="submit-btn">Submit</button>
  </div> 
</form>
{{/if}}


{{> comment-info post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}